
#stickyNav{
  margin: 0;
  padding: 10pt 0;
  width: 90%;
  margin-inline: 5%;
  padding-inline: 3rem;
  border-radius: 2rem;
  margin-top: 0.75rem;
  background-color: #E1E5F2;
  transition: all 0.5s ease-in-out;
}