
#stickyNav{
  padding-inline: 2rem;
  border-radius: 2rem;
  margin-top: 0.75rem;
  padding: 1.125rem 7rem;
  background-color: #E1E5F2;
  backdrop-filter: blur(0.5rem);
  transition: all 0.4s ease-in-out;
}