
#stickyNav{
  margin: 0;
  width: 90%;
  padding: 10pt 0;
  margin-inline: 5%;
  border-radius: 2rem;
  margin-top: 0.75rem;
  padding-inline: 3rem;
  background-color: #E1E5F2;
  transition: all 0.5s ease-in-out;
}

#stickyNav a {
  color: #6695B5;
}

#stickyNav h1{
  color: #6695B5;
}