.header {
  flex: 1;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bg {
  z-index: -1;
  filter: brightness(38%);
}

.title {
  z-index: 1;
  margin: 10rem;
  color: white;
  font-size: 3rem;
  line-height: 1.15;
  user-select: none;
  text-align: center;
}

/*Misi贸n y Visi贸n*/
.mision_motion{
  height: 80vh;
  display: grid;
  margin-top: 15rem;
  align-content: center;
  justify-content: center;
}
.vision_motion{
  height: 80vh;
  display: grid;
  margin-bottom: 5rem;
  align-content: center;
  justify-content: center;
}

.tit_mivi{
  display: flex;
  font-size: 50px;
  line-height: 1.2;
  color: #6695B5;
  user-select: none;
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-line;
  justify-content: center;
}

.tex_mivi{
  display: flex;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 2rem;
  color: #000000;
  text-align: center;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 15rem;
  white-space: pre-line;
  padding-inline: 10rem;
  justify-content: center;
}


/*Termina Misi贸n y Visi贸n*/